services:
  micro-ros-agent:
    image: microros/micro-ros-agent:jazzy
    container_name: micro-ros-agent
    privileged: true
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    devices:
      - /dev/ttyUSB0:/dev/esp32
    command: serial --dev /dev/esp32 --baudrate 921600 -v6

  fastbot-ros2-slam:
    build:
        context: ..
        dockerfile: docker/dockerfile-ros2-slam
    image: fastbot-ros2-slam
    container_name: fastbot-ros2-slam
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    devices:
      # - /dev/ttyACM0:/dev/lslidar
      - /dev/bus/usb:/dev/bus/usb
    privileged: true
    network_mode: host
    entrypoint: /ros_entrypoint.sh
    command: ros2 launch depthai_ros_driver camera.launch.py
    # command: ros2 launch lslidar_driver lslidar_launch.py

  fastbot-imu-driver:
    build:
        context: ..
        dockerfile: docker/dockerfile-ros2-imu
    container_name: fastbot-imu-driver
    network_mode: host
    privileged: true
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - BLINKA_ORANGEPI_5=1
    devices:
      - /dev/i2c-5:/dev/i2c-5
      - /dev/gpiochip4:/dev/gpiochip4
      - /dev/mem:/dev/mem
    command: python3 imu_node.py
