services:
  micro-ros-agent:
    image: microros/micro-ros-agent:jazzy
    container_name: micro-ros-agent
    privileged: true
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=0
    devices:
      - /dev/ttyUSB0:/dev/esp32
    command: serial --dev /dev/esp32 --baudrate 921600 -v6

  ros2-slam:
    build:
        context: ..
        dockerfile: docker/dockerfile-ros2-slam
    image: ros2-slam
    container_name: ros2-slam
    environment:
      - ROS_DOMAIN_ID=0
      # - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    devices:
      - /dev/ttyACM0:/dev/lslidar
    privileged: true
    network_mode: host
    entrypoint: /ros_entrypoint.sh
    command: ros2 launch lslidar_driver lslidar_launch.py

  ros2-imu-driver:
    build:
        context: ..
        dockerfile: docker/dockerfile-ros2-imu
    container_name: ros2-imu-driver
    network_mode: host
    privileged: true
    environment:
      - ROS_DOMAIN_ID=0
      - BLINKA_ORANGEPI_5=1
    devices:
      - /dev/i2c-5:/dev/i2c-5
      # - /dev/gpiochip4:/dev/gpiochip4
    command: python3 imu_node.py