---
Checks: >
  -*,
  performance-*,
  readability-*,
  bugprone-*,
  clang-analyzer-*,
  -readability-identifier-naming,
  -readability-function-cognitive-complexity

HeaderFilterRegex: 'main/.*'
FormatStyle: none
WarningsAsErrors: ''

# # Ignore common micro-ROS/FreeRTOS macro noise
# CheckOptions:
#   - key: readability-identifier-naming.VariableCase
#     value: lower_case