---
Checks: >
  -*,
  performance-*,
  readability-*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  cert-*,
  misc-*,
  -misc-include-cleaner,
  -misc-header-include-cycle,
  -readability-function-cognitive-complexity,

FormatStyle: none
WarningsAsErrors: '*'
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: true