---
Checks: >
  -*,
  performance-*,
  readability-*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  -misc-include-cleaner,
  -readability-identifier-naming,
  -readability-magic-numbers

HeaderFilterRegex: 'main/.*'
FormatStyle: none
WarningsAsErrors: ''
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: bugprone-argument-comment.StrictMode
    value: true